#gax{
  font-size: 160px;
  margin-left: 100px;
  color: rgb(119, 0, 255);
}

#dake{
    font-size: 160px;
    margin-left: -164px;
    color: rgb(119, 0, 255);
    background-color: rgb(190, 185, 185);;
    opacity: 100%;
  }

  body{
    background-color: rgb(190, 185, 185);
  }

  #amos{
    width: 800px;
    height: 600px;
    background-color: white;
    margin-left: 400px;
    transform: translateY(-220px);
    border-radius: 20px;
    box-shadow: 10px 10px 20px;
  }

  #gamos{
    margin-top: 10px;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
